<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Info</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pokémon API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Welcome to the Pokémon API Project By Tomás González</h1>
                <!-- Aquí puedes añadir más contenido relacionado con Pokémon -->
            </div>
        </div>
    </div>

    {% load custom_filters %}

    {% if data %}
        <p>Nombre: {{ data.name }}</p>
        <p>ID: {{ data.id }}</p>
        <p>Experiencia: {{ data.base_experience }}</p>
        <p>Altura: {{ data.height }}</p>
        <p>Peso: {{ data.weight }}</p>

        {% for t in data.types %}
            <p>Tipo: {{ t.type.name }}</p>
        {% endfor %}

        {% for m in data.moves %}
            <p>Movimiento: {{ m.move.name }}</p>
        {% endfor %}

        {% for a in data.abilities %}
            <p>Habilidad: {{ a.ability.name }}</p>
        {% endfor %}

        {% for s in data.stats %}
            <p>Estadística: {{ s.stat.name }}</p>
        {% endfor %}

        {% for key, value in data.sprites.items %}
            {% if value and not value|stringformat:"s"|is_list %}
                <p>Imagen: <img src="{{ value }}" alt="Sprite"></p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No se encontraron datos.</p>
    {% endif %}
</table>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<table>
